<!DOCTYPE html>
<html>
<head>
	<title>Tunivet - Clinique Vétérinaire Menzah 6</title>
	<link rel="stylesheet" type="text/css" href="css/TuniVet.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/angular-cookies.min.js"></script>
	<script type="text/javascript" src="js/TuniVet.js"></script>
</head>
<body ng-app="tunivetApp" ng-controller="tunivetController">
	<header>
		<a href="#/" class="title"><span>Tuni</span><span>Vet</span></a>
		<a href="#/login" ng-if="!isLoggedIn" class="button">Login</a>
		<a href ng-click="logout()" ng-if="isLoggedIn" class="button">Logout</a>
	</header>
	<div class="view-holder" ng-view=""></div>
	<footer>
		<p>Site web conçu et développé Par <a href="http://waelbendhia.github.io/">Waël Ben Dhia</a>.</p>
	</footer>
</body>
</html>