<!DOCTYPE html>
<html>
<head>
	<title>Tunivet - Clinique Vétérinaire Menzah 6</title>
	<link rel="stylesheet" type="text/css" href="css/tunivet.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/tunivet.js"></script>
</head>
<body ng-app="tunivetApp" ng-controller="tunivetController">
	<header>
		<a href="#/">Tunivet</a>
		<a href="/login">Login</a>
	</header>
	<div ng-view=""></div>
	<footer>
		<div>
			<p>
				Website built and designed by <a href="http://waelbendhia.github.io/">Wael Ben Dhia</a>.
				<br>Content is scraped from <a href="http://scaruffi.com/">Piero Scaruffi's website</a> and formatted as best as possible. Errors are aplenty as the original website is not the most organized and consistent in format. For more information on the band and Scaruffi's opinions on them I urge to visit his website.
				<br>This website is a loving homage to a man who has dedicated a lot of time to obsessively cataloguing his opinions on just about every band known to the western world, please don't sue me.
			</p>
		</div>
		<div>
			<h1>Contact:</h1>
			<p>Wael Ben Dhia</p>
			<ul>
				<li><a href="http://waelbendhia.github.io/">Website</a></li>
				<li><a href="mailto:wael.bendhia@esprit.tn">Email</a></li>
			</ul>
			<p>Piero Scaruffi</p>
			<ul>
				<li><a href="http://scaruffi.com/">Website</a></li>
				<li><a href="mailto:p@scaruffi.com">Email</a></li>
			</ul>
			<!--
			<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
			<div>Icons made by <a href="http://www.flaticon.com/authors/lyolya" title="Lyolya">Lyolya</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
			-->
		</div>
	</footer>
</body>
</html>
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body        { padding-top:80px; }
	</style>
</head>
<body>
	<div class="container">

		<div class="jumbotron text-center">
			<h1><span class="fa fa-lock"></span> Node Authentication</h1>

			<p>Login or Register with:</p>

			<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
			<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
		</div>
	</div>
</body>
</html>