<!DOCTYPE html>
<html>

<head>
	<title>Tunivet - Clinique Vétérinaire Menzah 6</title>
	<link rel="stylesheet" type="text/css" href="css/TuniVet.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="js/angular-cookies.min.js"></script>
	<script type="text/javascript" src="js/App/TuniVet.js"></script>
	<script type="text/javascript" src="js/App/Controllers/TunivetController.js"></script>
	<script type="text/javascript" src="js/App/Controllers/LandingController.js"></script>
	<script type="text/javascript" src="js/App/Controllers/LoginController.js"></script>
	<script type="text/javascript" src="js/App/Controllers/PatientsController.js"></script>
	<script type="text/javascript" src="js/App/Services.js"></script>
	<script type="text/javascript" src="js/App/Filters.js"></script>
</head>

<body ng-app="tunivetApp" ng-controller="tunivetController">
	<span class="title-bottom">TuniVet</span>
	<header>
		<!-- href="#/patient/:id" -->
		<a href="#/" class="title">Tuni<span class="secondary-color">Vet</span></a>
		<a href="#/login" style="right: 0px; width: 70px;" ng-if="!isLoggedIn" class="button">Login</a>
		<a href ng-click="logout()" style="right: 0px; width: 70px;" ng-if="isLoggedIn" class="button">Logout</a>
		<a href="#/patients" style="right: 361px; width: 141px;" ng-if="isLoggedIn" class="button">Inserer Patient</a>
		<div class="button" style="right: 110px; width: 211px;">
			<span>Suivi:</span>
			<input type="number" ng-model="patientId">
			<span class="highlight">{{patientId}}</span>
			<input type="submit" value="→">
		</div>
	</header>
	<div class="view-holder" ng-view=""></div>
	<footer>
		<p>Site web conçu et développé Par <a href="http://waelbendhia.github.io/">Waël Ben Dhia</a>.</p>
	</footer>
</body>

</html>