<!DOCTYPE html>
<html>

<body>
	<div class="form" ng-if="showImageForm">
		<div ng-click="closeImageForm()" class="top"></div>
		<div ng-click="closeImageForm()" class="bottom"></div>
		<div ng-click="closeImageForm()" class="left"></div>
		<div ng-click="closeImageForm()" class="right"></div>
		<div class="elevation-5 card">
			<div>
				<span>Nouvelle Image:</span>
				<input ng-model="image" type="file">
			</div>
			<button ng-click="sendImage()" type="submit" class="elevation-lift">Sauvegarde</button>
		</div>
	</div>
	<div class="elevation-2 card landing-section landing-section-1">
		<h1 class="title card elevation-2">{{info[0].title}}</h1>
		<p class="content elevation-2" ng-bind-html="info[0].body"></p>
		<button class="elevation-lift" ng-if="isLoggedIn" ng-click="displayImageForm(0)">Changer l'image</button>
	</div>
	<div class="elevation-2 card landing-section landing-section-2">
		<h1 class="title card elevation-2">{{info[1].title}}</h1>
		<p class="content elevation-2" ng-bind-html="info[1].body"></p>
		<button class="elevation-lift" ng-if="isLoggedIn" ng-click="displayImageForm(1)">Changer l'image</button>
	</div>
	<div class="elevation-2 card landing-section landing-section-3">
		<h1 class="title card elevation-2">{{info[2].title}}</h1>
		<p class="content elevation-2" ng-bind-html="info[2].body"></p>
		<button class="elevation-lift" ng-if="isLoggedIn" ng-click="displayImageForm(2)">Changer l'image</button>
	</div>
</body>

</html>