<!doctype html>
<html>
<head>
</head>
<body>
<div>
    <h1>Add new patient</h1>
    <form action="/patient/insert" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Content</label>
            <input type="text" class="form-control" name="condition">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Inserer Patient</button>
    </form>

</div>
</body>
</html>