<!doctype html>
<html>

<head>
</head>

<body>
    <div>
        <h1>Add new patient</h1>
        <form action="/patient/insert" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Content</label>
                <input type="text" class="form-control" name="condition">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Inserer Patient</button>
        </form>
        <div class="patients-container">
            <div class="patient elevation-3 card" ng-repeat="patient in patients">
                <div>
                    <span>Nom:</span>
                    <span>{{patient.name}}</span>
                </div>
                <div>
                    <span>Date d'entree:</span>
                    <span>{{patient.entryDate}}</span>
                </div>
                <div>
                    <span>Condition:</span>
                    <span>{{patient.condition}}</span>
                </div>
                <div>
                    <span>Derniere mise a jour:</span>
                    <span>{{patient.updateDate}}</span>
                </div>
                <div>
                    <span>Date de sortie:</span>
                    <span>{{patient.exitDate}}</span>
                </div>
                <button class="elevation-lift" type="submit" ng-disabled="dataLoading">Modifier</button>
            </div>
        </div>
</body>

</html>