<!doctype html>
<html>

<head>
</head>

<body>
    <div class="header-spacer"></div>
    <div class="patients-form form" ng-if="showForm">
        <div ng-click="closeForm()" class="bg"></div>
        <div class="elevation-5 card">
            <div>
                <span>Nom:</span>
                <input ng-model="currentPatient.name" type="text">
                <span class="highlight">{{currentPatient.name}}</span>
            </div>
            <div>
                <span>Condition:</span>
                <input ng-model="currentPatient.condition" type="text">
                <span class="highlight">{{currentPatient.condition}}</span>
            </div>
            <div>
                <span>Date de sortie:</span>
                <input ng-model="currentPatient.exitDate" min="{{currentPatient.entryDate | date:'yyyy-MM-dd'}}" type="date">
            </div>
            <div>
                <span>Tarif par jour:</span>
                <input ng-model="currentPatient.tarif" min="{{currentPatient.tarif}}" type="number">
            </div>
            <button ng-click="send()" type="submit" class="elevation-lift">Sauvegarde</button>
        </div>
    </div>
    <div class="patients-search">
        <span>Recherche:</span>
        <input type="text" ng-model="search.name" ng-change="updateFilter(true)">
        <span class="highlight">{{search.name}}</span>
        <button class="elevation-lift" ng-click="setCurrent()" ng-disabled="dataLoading">Ajouter</button>
    </div>
    <div class="patients-container">
        <tvt-patient></tvt-patient>
        <div class="patient elevation-3 card stagger" ng-repeat="patient in patients track by patient.id">
            <div>
                {{patient.id}}. {{patient.name}}
            </div>
            <div>
                <span>Date d'entree:</span>
                <span>{{patient.entryDate | frenchDate}}</span>
            </div>
            <div>
                <span>Condition:</span>
                <span>{{patient.condition}}</span>
            </div>
            <div>
                <span>Derniere mise a jour:</span>
                <span>{{patient.updateDate | frenchDate}}</span>
            </div>
            <div>
                <span>Facture:</span>
                <span>{{patient.price}}</span>
            </div>
            <div>
                <span>Date de sortie:</span>
                <span>{{patient.exitDate | frenchDate}}</span>
            </div>
            <button class="elevation-lift" ng-click="setCurrent(patient)">Modifier</button>
            <button class="elevation-lift" ng-click="delete(patient)">Supprimer</button>
        </div>
        <div class="patient elevation-3 card" ng-if="patients.length === 0">
            <div>
                Aucun resultat
            </div>
        </div>
    </div>
    <div class="paginator">
        <a ng-class="(search.page == 0) ? 'inactive' : ''" ng-click="changePage(-1)">←</a>
        <div>{{search.page+1}}/{{pages}}</div>
        <a ng-class="(search.page + 1  == pages) ? 'inactive' : ''" ng-click="changePage(1)">→</a>
    </div>
</body>

</html>