@font-face {
	font-family: 'Geomanist';
	src: url('./fonts/Geomanist-Thin.otf') format("opentype");
	font-weight: 100;
}

@font-face {
	font-family: 'Geomanist';
	src: url('./fonts/Geomanist-ExtraLight.otf') format("opentype");
	font-weight: 200;
}

@font-face {
	font-family: 'Geomanist';
	src: url('./fonts/Geomanist-Light.otf') format("opentype");
	font-weight: 300;
}

@font-face {
	font-family: 'Geomanist';
	src: url('./fonts/Geomanist-Regular.otf') format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: 'Geomanist';
	src: url('./fonts/Geomanist-Book.otf') format("opentype");
	font-weight: 500;
}

@font-face {
	font-family: 'Geomanist';
	src: url('./fonts/Geomanist-Medium.otf') format("opentype");
	font-weight: 600;
}

@font-face {
	font-family: 'Geomanist';
	src: url('./fonts/Geomanist-Bold.otf') format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: 'Geomanist';
	src: url('./fonts/Geomanist-Black.otf') format("opentype");
	font-weight: 800;
}

@font-face {
	font-family: 'Geomanist';
	src: url('./fonts/Geomanist-Ultra.otf') format("opentype");
	font-weight: 900;
}

@font-face {
	font-family: 'Bariol';
	src: url('./fonts/Bariol Thin.otf') format("opentype");
	font-weight: 100;
}

@font-face {
	font-family: 'Bariol';
	src: url('./fonts/Bariol Light.otf') format("opentype");
	font-weight: 300;
}

@font-face {
	font-family: 'Bariol';
	src: url('./fonts/Bariol Regular.otf') format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: 'Bariol';
	src: url('./fonts/Bariol Bold.otf') format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: 'Bariol';
	src: url('./fonts/Bariol Thin Italic.otf') format("opentype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Bariol';
	src: url('./fonts/Bariol Light Italic.otf') format("opentype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Bariol';
	src: url('./fonts/Bariol Regular Italic.otf') format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Bariol';
	src: url('./fonts/Bariol Bold Italic.otf') format("opentype");
	font-weight: 700;
	font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600|Open+Sans:200,300,400,400i,700');
@keyframes view-enter {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	50% {
		opacity: 0;
		transform: translateY(40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px) scaleX(1);
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.ng-enter {
	transition: opacity var(--transition-time-fast) ease-out, transform var(--transition-time-slow) ease-out;
	opacity: 0;
	transform: translateY(20px);
}

.ng-enter.ng-enter-active {
	opacity: 1;
	transform: none;
}

.ng-leave {
	transition: opacity var(--transition-time-fast) ease-in, transform var(--transition-time-slow) ease-in;
	opacity: 1;
	transform: none;
}

.ng-leave.ng-leave-active {
	opacity: 0;
	transform: translateY(20px);
}

.view-holder-loader {
	width: 100%;
	height: 100%;
	position: absolute;
	background: white;
}

.view-holder.ng-enter {
	position: absolute;
	z-index: 4;
	width: 100%;
}

.view-holder.ng-enter.ng-enter-active,
.view-holder.ng-leave.ng-leave-active {
	position: absolute;
	width: 100%;
}

.view-holder.ng-leave {
	position: absolute;
	width: 100%;
}

input[type="number"] {
	-moz-appearance: textfield;
}

:root {
	--font-heading: "Geomanist", sans-serif;
	--font-body: "Bariol", sans-serif;
	--primary-color: #055B80;
	--secondary-color: #FFB700;
	--tertiary-color: #065220;
	--quaternary-color: #430132;
	--quinary-color: #7D2809;
	--senary-color: #363537;
	--septenary-color: #78172C;
	--white: #E8EBF7;
	--black: #00171F;
	--primary-color-transparent: rgba(5, 91, 128, 0.75);
	--tertiary-color-transparent: rgba(6, 82, 32, 0.75);
	--senary-color-transparent: rgba(54, 53, 55, 0.75);
	--transition-time-very-slow: 0.6s;
	--transition-time-slow: 0.3s;
	--transition-time-fast: 0.15s;
	--header-height: 60px;
}

body::-webkit-scrollbar-track {
	background-color: white;
}

body::-webkit-scrollbar {
	/*width: 0;*/
	height: 80%;
	background-color: white;
}

body::-webkit-scrollbar-thumb {
	background: var(--black);
}

.elevation-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.elevation-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.elevation-3 {
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23), 0 10px 20px rgba(0, 0, 0, 0.19);
}

.elevation-4 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.elevation-5 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.elevation-lift {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.elevation-lift:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/*
--primary-color : #0AB5FF;
--secondary-color : #FFB700;
--tertiary-color : #0CA13f;
--quaternary-color : #820263;
--quinary-color : #FB5012;
--senary-color : #363537;
--septenary-color : #EF2D56;
*/

* {
	font-family: var(--font-body);
}

::selection {
	background: var(--white);
	color: var(--black);
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-heading);
}

a {
	text-decoration: none;
}

html {
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	border-left: 5px solid var(--primary-color);
	border-right: 5px solid var(--secondary-color);
	width: calc(100% - 64px);
	margin: 0 32px;
	position: relative;
	background-color: var(--white);
	overflow-x: hidden;
	min-height: 100vh;
}

.view-holder {
	position: relative;
	width: 100%;
	padding-top: var(--header-height);
	min-height: calc(100vh - var(--header-height));
	overflow: auto;
}

footer {
	position: relative;
	z-index: 1;
	height: var(--header-height);
	width: 100%;
	line-height: var(--header-height);
	font-size: 26px;
	text-align: center;
	font-weight: 200;
}

footer a {
	color: var(--black);
	font-weight: 300;
	transition: color var(--transition-time-fast) ease;
}

footer a:hover {
	transition: color var(--transition-time-fast) ease;
	color: var(--secondary-color);
}

header {
	z-index: 3;
	width: calc(100% - 84px);
	position: fixed;
	padding: 0 10px;
	top: 0;
	height: var(--header-height);
	background-color: var(--white);
	transition: transform ease-out var(--transition-time-fast);
	/*	box-shadow: 0 20px 20px var(--white); */
}

header:after {
	position: absolute;
	left: 0;
	top: 60px;
	content: "";
	display: block;
	width: 100%;
	height: 20px;
	background: linear-gradient(var(--white), transparent, transparent);
	z-index: 5;
}

header.hidden {
	transform: translateY(-100%);
}

.title-bottom {
	font-family: var(--font-heading);
	font-size: 110px;
	font-weight: bold;
	color: var(--white);
	opacity: 0.5;
	position: fixed;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
	filter: brightness(90%);
	cursor: default;
	user-select: none;
}

header>.title {
	font-family: var(--font-heading);
	float: left;
	margin: 0 10px;
	line-height: var(--header-height);
	height: var(--header-height);
	font-weight: 500;
	font-size: calc(var(--header-height)*0.75);
	color: var(--primary-color);
	transition: font-size ease-out var(--transition-time-fast);
	user-select: none;
}

header>.title:hover {
	color: var(--primary-color);
}

header>.title>span {
	font-family: var(--font-heading);
}

header>.button {
	position: absolute;
	font-size: 25px;
	font-weight: 400;
	margin: 0 20px;
	height: var(--header-height);
	line-height: var(--header-height);
}

.header-spacer {
	height: 10px;
	width: 100%;
}

.landing-video {}

.patients-form>div.card>div>input,
.patients-search>input,
.button>input[type="number"] {
	outline: none;
	height: calc(var(--header-height) - 30px);
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 13px;
	padding: 0;
	font-size: 20px;
	border: 0;
	color: var(--senary-color);
	border-bottom: 2px solid var(--black);
	font-family: var(--font-body);
	font-weight: 300;
	background-color: transparent;
	width: 150px;
}

input[type="submit"] {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: calc(30px - var(--header-height));
	height: calc(var(--header-height) - 30px);
	width: calc(var(--header-height) - 30px);
	font-size: 20px;
	padding: 0;
	background: transparent;
	color: var(--black);
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
	transition: color ease-out var(--transition-time-fast);
}

input[type="submit"]:hover {
	color: var(--secondary-color);
	transition: color ease-out var(--transition-time-fast);
}

.button>* {
	float: left;
	user-select: none;
	cursor: default;
}

.patients-form>div.card>div>.highlight,
.patients-search>.highlight,
.button>.highlight {
	position: absolute;
	right: 151px;
	bottom: 13px;
	height: 2px;
	max-width: 151px;
	overflow: hidden;
	font-size: 20px;
	overflow: hidden;
	color: transparent;
	font-family: var(--font-bpdy);
	font-weight: 300;
	background-color: var(--secondary-color);
	transform: translateX(100%);
}

header a {
	color: var(--black);
	transition: color ease-out var(--transition-time-fast);
}

header a:hover {
	color: var(--secondary-color);
}

span.secondary-color {
	color: var(--secondary-color);
}

.card {
	border-radius: 4px;
	position: relative;
}

.landing-section {
	float: left;
	margin-left: 128px;
	margin-right: 64px;
	margin-top: 32px;
	margin-bottom: 96px;
	width: calc(100% - 192px);
	height: calc(100vh - 128px - var(--header-height));
	background-size: cover;
	background-position: center;
}

.landing-section>button {
	position: absolute;
	z-index: 1;
	right: 20px;
	bottom: 20px;
	transform: none !important;
}

.landing-section>.title {
	margin: 0;
	top: 20px;
	left: -64px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 0;
	position: absolute;
	color: var(--white);
	font-weight: 300;
	z-index: 2;
	font-size: 15vh;
	line-height: 100%;
}

.landing-section table {
	width: 100%;
}

.landing-section td {
	font-size: 30px;
	font-weight: 500;
}

.landing-section td+td {
	font-size: 26px;
	font-weight: 300;
}

.landing-section>.content {
	border-radius: 4px;
	position: absolute;
	padding: 20px;
	left: -44px;
	z-index: 1;
	top: calc(15vh + 20px);
	color: var(--white);
	width: 40%;
	font-weight: 300;
	font-size: 42px;
	background-color: white;
	margin: 0;
}

.landing-section>.info {
	bottom: 124px;
}

.landing-section-1 {
	background-image: url('../image/1');
}

.landing-section-1>.title {
	background-color: var(--primary-color);
}

.landing-section-1>.content {
	color: var(--primary-color);
}

.landing-section-2 {
	background-image: url('../image/2');
}

.landing-section-2>.title {
	background-color: var(--tertiary-color);
}

.landing-section-2>.content {
	color: var(--tertiary-color);
}

.landing-section-3 {
	background-image: url('../image/3');
}

.landing-section-3>.title {
	background-color: var(--quaternary-color);
}

.landing-section-3>.content {
	color: var(--quaternary-color);
}

.landing-section-4 {
	background-image: url('../image/4');
}

.landing-section-4>.title {
	background-color: var(--quinary-color);
}

.landing-section-4>.content {
	color: var(--quinary-color);
}

.login-page {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - var(--header-height));
}

.login-page>form>h1 {
	margin: 0;
	height: 80px;
	text-align: right;
	width: 50%;
	margin-right: 50%;
	color: var(--primary-color);
	font-weight: 300;
	font-size: 60px;
	line-height: 80px;
}

.login-page>form {
	width: 80%;
	height: 257px;
	flex-shrink: 1;
	max-width: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	color: var(--black);
}

.login-page>form>.error-message {
	position: absolute;
	left: 50%;
	bottom: -32px;
	font-size: 30px;
	font-family: var(--font-body);
	font-weight: 500;
	color: red;
	transform: translate(-50%, 100%);
}

.landing-section button,
.patients-search button,
.patients-form button,
.patient button,
.login-page button,
.image-form button {
	border: 0;
	width: 150px;
	border-radius: 4px;
	padding: 8px;
	margin-left: 50%;
	background: var(--secondary-color);
	color: var(--black);
	font-family: var(--font-body);
	font-size: 30px;
	transition: color, box-shadow ease-out var(--transition-time-fast);
	transform: translateX(-50%);
}

.image-form button {
	position: absolute;
	left: 50%;
	bottom: 15px;
	margin: 0;
}

.login-page button:hover {
	color: var(--white);
}

.login-page>form input {
	outline: none;
	height: calc(var(--header-height) - 26px);
	width: 40%;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 13px;
	padding: 0;
	font-size: 24px;
	border: 0;
	color: var(--senary-color);
	border-bottom: 2px solid var(--black);
	font-weight: 300;
	background-color: transparent;
}

.login-page>form .highlight {
	position: absolute;
	left: 50%;
	margin-left: 10px;
	bottom: 13px;
	height: 2px;
	max-width: 40%;
	overflow: hidden;
	font-size: 24px;
	overflow: hidden;
	color: transparent;
	font-weight: 300;
	background-color: var(--secondary-color);
}

.login-page>form>div {
	position: relative;
}

.login-page>form>div>label {
	text-align: right;
	float: left;
	height: 64px;
	font-weight: 300;
	font-size: 32px;
	line-height: 60px;
	width: 50%;
}

.patients-container {
	width: 100%;
	height: calc(100vh + 10px - var(--header-height) * 3);
	max-width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}

.patient {
	float: left;
	width: calc(50% - 20px);
	height: calc(50% - 30px);
	margin: 10px;
	background: white;
	padding-top: 5px;
}

.patient.ng-enter {
	transition: opacity var(--transition-time-fast) var(--transition-time-slow) ease-in, transform var(--transition-time-slow) var(--transition-time-slow) ease-in, width var(--transition-time-slow) ease-out, margin var(--transition-time-slow) ease-out;
	width: 0;
	margin: 10px 0;
}

.patient.ng-enter.ng-enter-active {
	width: calc(50% - 20px);
	margin: 10px;
}

.patient.ng-leave {
	transition: opacity var(--transition-time-fast) ease-in, transform var(--transition-time-slow) ease-in, width var(--transition-time-slow) var(--transition-time-slow) ease-out, margin var(--transition-time-slow) var(--transition-time-slow) ease-out;
}

.patient.ng-leave.ng-leave-active {
	width: 0;
	margin: 10px 0;
}

.patient.stagger.ng-enter-stagger {
	transition-delay: var(--transition-time-fast);
	transition-duration: 0s;
}

.patient.stagger.ng-leave-stagger {
	transition-delay: var(--transition-time-fast);
	transition-duration: 0s;
}

.patient>button {
	position: absolute;
	font-size: 120%;
	padding: 2px;
	margin: 0;
	height: calc(25% - 30px);
	width: 20%;
	right: 10px;
	top: 15px;
	transform: none;
	overflow: hidden;
}

.patient>button:nth-of-type(2) {
	right: calc(20% + 20px);
}

.patient>div {
	float: left;
	padding-left: 2.5%;
	padding-right: 2.5%;
	height: 25%;
	width: 45%;
	font-size: 20px;
}

.patient>div:nth-child(1) {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	font-family: var(--font-heading);
	width: 95%;
	line-height: 10vh;
	font-size: 220%;
	font-weight: 300;
	border-bottom: 1px solid var(--white);
}

.patient>div>span {
	display: block;
	float: left;
	width: 100%;
	line-height: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.patient>div>span:nth-child(1) {
	padding-left: 5px;
	font-family: var(--font-heading);
	color: var(--primary-color);
	height: 30%;
	font-size: 80%;
	line-height: 150%;
}

.patient>div>span:nth-child(2) {
	padding-left: 5px;
	height: 70%;
	font-size: 20px;
}

.form {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 6;
	background: rgba(0, 0, 0, 0.25);
}

.form.ng-enter {
	transform: none;
}

.form.ng-leave.ng-leave-active {
	transform: none;
}

.form>div.card {
	transform: none;
	transition: transform var(--transition-time-slow) ease-out;
}

.form.ng-enter.ng-enter-active>div.card,
.form.ng-leave>div.card {
	transform: none;
}

.form.ng-enter>div.card {
	transform: translateY(40px);
}

.form.ng-leave.ng-leave-active>div.card {
	transform: translateY(40px);
}

.form>.bg {
	position: absolute;
	background: transparent;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.form>div {
	position: absolute;
	height: 30%;
	width: 40%;
	left: 30%;
	top: 35%;
	background: white;
}

.patients-form>div {
	height: 37.5%;
}

.patients-form>div.card>div {
	position: relative;
	width: 100%;
	height: 20%;
}

.patients-form>div.card>div>span {
	position: absolute;
	width: 30%;
	height: 100%;
	line-height: 7.5vh;
	text-align: right;
	font-size: 1.8vw;
	font-family: var(--font-heading);
	font-weight: 300;
}

.patients-form>div.card>div>input {
	position: absolute;
	left: 30%;
	width: calc(70% - 20px);
	height: calc(100% - 30px);
}

.patients-form>div.card>div>.highlight {
	position: absolute;
	right: calc(70% - 10px);
	width: initial;
	max-width: calc(70% - 20px);
}

.patients-search {
	position: relative;
	width: 80%;
	height: var(--header-height);
	margin: 0 10%;
}

.patients-search>span:nth-child(1) {
	display: block;
	width: 150px;
	float: left;
	font-family: var(--font-heading);
	height: var(--header-height);
	font-size: calc(var(--header-height) / 2);
	line-height: var(--header-height);
}

.patients-search>input {
	width: calc(100% - 320px);
	margin-bottom: 8px;
	margin-top: 10px;
	font-size: calc(var(--header-height) - 32px);
	height: calc(var(--header-height) - 22px);
}

.patients-search>.highlight {
	right: calc(100% - 160px);
	font-size: calc(var(--header-height) - 32px);
	bottom: 10px;
	max-width: calc(100% - 320px);
}

.patients-search button {
	position: absolute;
	width: 150px;
	right: 0;
	top: 10px;
	margin: 0;
	height: 40px;
	line-height: 40px;
	padding: 0;
	transform: none;
}

.paginator {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(var(--header-height) - 20px);
}

.paginator>a {
	cursor: pointer;
	margin: 0 5px;
	font-size: 30px;
	transition: color var(--transition-time-fast) ease-in-out;
}

.paginator>a:hover {
	color: var(--secondary-color);
}

.paginator>a.inactive {
	cursor: default;
}

.paginator>a.inactive:hover {
	color: black;
}

.paginator>div {
	font-size: 30px;
}

.landing-text>div>input {
	left: 20% !important;
	width: calc(80% - 20px) !important;
}

.landing-text>div>.highlight {
	right: calc(80% - 10px) !important;
	max-width: calc(80% - 20px) !important;
}

.landing-text>div>span {
	width: 20% !important;
}

.landing-text textarea {
	position: absolute;
	font-size: 20px;
	font-family: var(--font-body);
	font-weight: 300;
	margin: 0;
	padding: 0;
	margin-top: 15px;
	left: calc(20% + 10px);
	width: calc(80% - 20px);
	height: calc(100% - 30px);
	resize: none;
}

.landing-text>div:nth-child(2) {
	height: 60% !important;
}